name: CI

on:
  push:
    branches:
      - "master"
  pull_request:

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: install elm
        run: npm install elm@0.19.1-5 elm-test@0.19.1-revision9 elm-format@0.8.5

      - name: elm-format
        run: npx elm-format --validate src/ tests/

      - name: elm-test
        run: npx elm-test
